body {
    background: url(background.jpeg);
    background-size: cover;
    color: black;
}

#image-titre {
    text-align: center;
}

#image-netflix {
    width: 500px;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

#images-series {
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
    background-color: whitesmoke;
}

#serie1 {
    flex: 1;
}

#serie2 {
    flex: 1;
}

#span1 {
    display: flex;
    justify-content: flex-start;
}

#viking {
    flex: -1vw;
}

#texte1 {
    flex: -1vw;
    margin-left: 10px;
}

#span2 {
    display: flex;
    justify-content: flex-end;
}

#texte2 {
    flex: -1vw;
    margin-right: 10px;
}

#walking-dead {
    flex: -1vw;
}

#images-films {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

#film1 {
    flex: 1;
}

#film2 {
    flex: 1;
}

#span3 {
    display: flex;
    justify-content: flex-start;
}

#inception {
    flex: -1vw;
}

#texte3 {
    flex: -1vw;
    margin-left: 10px;
}

#span4 {
    display: flex;
    justify-content: flex-end;
}

#texte4 {
    flex: -1vw;
    margin-right: 10px;
}

#matrix {
    flex: -1vw;
    width: 200px;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }